<div
  id="container"
  class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 w-full sm:w-full mx-auto border-gray-400 border p-5 h-auto"
>
  <div
    #imageContainer
    id="image-container"
    class="relative bg-no-repeat overflow-hidden"
    data-te-ripple-init
    data-te-ripple-color="light"
  >
    <img class="rounded-lg bg-cover" [src]="product.images[0]" alt="" />
    <div #imageInfo class="absolute bottom-0 inset-x-0 w-full h-0 bg-white">
      <div #imageContent class="flex justify-between p-3">
        <h1
          class="mx-2 font-bold leading-tight text-neutral-800 dark:text-neutral-50"
          style="font-family: sofia"
        >
          {{ product.title }}
        </h1>
        <h5
          class="mx-2 font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          style="font-family: sofia"
        >
          {{ product.price | currency }}
        </h5>
      </div>
      <div #imageContent2 class="flex h-3/4 flex-col justify-center items-center">
        <p class="text-sm font-light w-4/5 text-center">
          {{ product.description }}
        </p>
      </div>
    </div>
    <!-- <app-button
      [buttonType]="'button'"
          (click)="details(product)"
          color="primary"
          class="mb-2 w-1/2 text-center"
          >Details</app-button
        > -->
  </div>
  
  <div
    class="flex flex-row flex-wrap w-full md:flex-col lg:flex-row justify-center items-center mx-auto h-1/4 mt-6 mb-2"
  >
    <button #arrow (click)="animate()">
      <fa-icon [icon]="faChevronRight" class="p-4"></fa-icon>
    </button>
  </div>
  <div class="flex justify-center items-center">
    <app-button
      [buttonType]="'button'"
      (click)="add(product)"
      color="primary"
      class="mb-2 w-1/2 text-center whitespace-nowrap"
      >Add to cart</app-button
    >
  
  </div>
</div>

