<div class="flex p-7 mt-10 justify-between absolute inset-0 top-32 h-screen bg-black/90 z-50 ease-in-out duration-500 rounded-none"
[ngClass]="!open ? '-translate-x-full rounded-e-full' : 'translate-x-0 rounded-e-none'">
  <ul>
    <li>
      <a
        href="#products"
        (click)="closeSidebar()"
        class="flex transition-all text-white justify-center font-semibold px-4 py-4 my-2 hover:bg-zinc-700 rounded-xl tracking-wide"
        style="font-family: 'sofia'"
        >All Products
      </a>
    </li>
    <li>
      <a
        href="#categories"
        (click)="closeSidebar()"
        class="flex transition-all text-white justify-center font-semibold px-4 py-4 my-2 hover:bg-zinc-700 rounded-xl tracking-wide"
        style="font-family: 'sofia'"
        >Categories
      </a>
    </li>
    
  </ul>
  <div class="">
    <app-button color="secundary" (click)="closeSidebar()">Close</app-button>
  </div>
</div>
