<div class="flex p-7 mt-10 justify-between">
  <ul>
    <li>
      <a
        href="#products"
        (click)="closeSidebar()"
        class="flex transition-all text-white justify-center font-semibold px-4 py-4 my-2 hover:bg-zinc-700 rounded-xl tracking-wide"
        style="font-family: 'sofia'"
        >All Products
      </a>
    </li>
    <li>
      <a
        href="#categories"
        (click)="closeSidebar()"
        class="flex transition-all text-white justify-center font-semibold px-4 py-4 my-2 hover:bg-zinc-700 rounded-xl tracking-wide"
        style="font-family: 'sofia'"
        >Categories
      </a>
    </li>
    <li>
      <a
        routerLink="/"
        (click)="closeSidebar()"
        class="flex transition-all text-white justify-center font-semibold px-4 py-4 my-2 hover:bg-zinc-700 rounded-xl tracking-wide"
        style="font-family: 'sofia'"
        >Others
      </a>
    </li>
  </ul>
  <div class="">
    <app-button color="secundary" (click)="closeSidebar()">Close</app-button>
  </div>
</div>
